In [1]:
import pandas as pd
social_bot1 = pd.read_csv("social_spambots_1/final.csv",sep=',')
social_bot2 = pd.read_csv("social_spambots_2/final.csv",sep=',')
social_bot3 = pd.read_csv("social_spambots_3/final.csv",sep=',')
fake_follower = pd.read_csv('fake_followers/final.csv',sep=',')
real_users = pd.read_csv("genuine_accounts/final.csv",sep=",")
final_train = pd.DataFrame()
final_train = final_train.append(social_bot1.append(social_bot2))
final_train = final_train.append(fake_follower)
final_train = final_train.append(real_users[0:len(real_users)//2 + 1])
final_train = final_train.fillna(0)
final_train.head()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,avg_tweet_activity(sec),max_profile_activity(sec),max_retweet_activity(sec),max_tweet_activity(sec),min_profile_activity(sec),min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot
0,24858289,davideb66,1299,22,40,1,0,1.0,1.0,0.0,...,71246.232243,57323387.0,49616500.0,57323387.0,0.0,173288.0,0.0,11.0,2507.0,1
1,33212890,ElisaDospina,18665,12561,3442,16358,110,0.0,0.0,0.0,...,14724.501259,185536.0,690926.0,295879.0,0.0,1.0,14.0,821.0,2383.0,1
2,39773427,Vladimir65,22987,600,755,14,6,0.0,0.0,0.0,...,8151.565358,353244.0,4069598.0,353244.0,5.0,12.0,5.0,132.0,3084.0,1
3,57007623,RafielaMorales,7975,398,350,11,2,0.0,0.0,0.0,...,30548.202182,3868116.0,6495250.0,3868116.0,2.0,2.0,3.0,663.0,2568.0,1
4,63258466,FabrizioC_c,20218,413,405,162,8,0.0,0.0,0.0,...,7675.933063,2115828.0,2922888.0,2115828.0,1.0,6.0,1.0,242.0,2959.0,1

In [2]:
import time
from datetime import datetime,date
final_train['timestamp'] = pd.to_datetime(final_train['timestamp'])
days = []
for index,row in final_train.iterrows():
    diff = datetime.today() - row['timestamp']
    days.append(diff.days)
final_train['days_active'] = days
del final_train['timestamp']
lengths = []
digits = []
for index,row in final_train.iterrows():
    count = 0
    length = len(row['screen_name'])
    lengths.append(length)
    for character in row["screen_name"]:
        try:
            int(character)
            count += 1
        except:
            continue
    digits.append(count)
final_train['Screen_name_length'] = lengths
final_train['digits_in_name'] = digits
final_train.head()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,max_tweet_activity(sec),min_profile_activity(sec),min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot,days_active,Screen_name_length,digits_in_name
0,24858289,davideb66,1299,22,40,1,0,1.0,1.0,0.0,...,57323387.0,0.0,173288.0,0.0,11.0,2507.0,1,3372,9,2
1,33212890,ElisaDospina,18665,12561,3442,16358,110,0.0,0.0,0.0,...,295879.0,0.0,1.0,14.0,821.0,2383.0,1,3339,12,0
2,39773427,Vladimir65,22987,600,755,14,6,0.0,0.0,0.0,...,353244.0,5.0,12.0,5.0,132.0,3084.0,1,3314,10,2
3,57007623,RafielaMorales,7975,398,350,11,2,0.0,0.0,0.0,...,3868116.0,2.0,2.0,3.0,663.0,2568.0,1,3252,14,0
4,63258466,FabrizioC_c,20218,413,405,162,8,0.0,0.0,0.0,...,2115828.0,1.0,6.0,1.0,242.0,2959.0,1,3230,11,0

In [3]:
bag_of_words_bot = r'bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                           r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                           r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                           r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'
lengths = []
words = []
for index,row in final_train.iterrows():
    if row["description"] != 0:
        length = len(row["description"])
        if bag_of_words_bot in row["description"]:
            words.append(1)
        else:
            words.append(0)
    else:
        length = 0
        words.append(0)
    lengths.append(length)
final_train["description_length"] = lengths
final_train["contains_words"] = words
final_train.tail()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot,days_active,Screen_name_length,digits_in_name,description_length,contains_words
537,16459227,anonemoose,2111,113,329,99,3,1.0,0.0,0.0,...,8.0,2.0,174.0,1935.0,0,3544,10,0,0,0
538,1978360040,antmanhall5,453,266,1413,169,0,1.0,0.0,0.0,...,1.0,9.0,217.0,236.0,0,1693,11,1,103,0
539,17436585,aprilritchey,84919,3975,1803,14566,153,0.0,0.0,0.0,...,6.0,2.0,584.0,2608.0,0,3492,12,0,94,0
540,589910604,aquieTsui,2042,123,320,1426,0,0.0,0.0,0.0,...,4.0,2.0,112.0,1898.0,0,2207,9,0,53,0
541,11690822,arhemant,1677,834,264,34,28,0.0,0.0,0.0,...,26.0,1.0,220.0,1450.0,0,3814,8,0,152,0

In [4]:
del final_train['id']
final_train.head()

,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,description,...,min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot,days_active,Screen_name_length,digits_in_name,description_length,contains_words
0,davideb66,1299,22,40,1,0,1.0,1.0,0.0,0,...,173288.0,0.0,11.0,2507.0,1,3372,9,2,0,0
1,ElisaDospina,18665,12561,3442,16358,110,0.0,0.0,0.0,Autrice del libro #unavitatuttacurve dal 9 apr...,...,1.0,14.0,821.0,2383.0,1,3339,12,0,134,0
2,Vladimir65,22987,600,755,14,6,0.0,0.0,0.0,[Live Long and Prosper],...,12.0,5.0,132.0,3084.0,1,3314,10,2,23,0
3,RafielaMorales,7975,398,350,11,2,0.0,0.0,0.0,"Cuasi Odontologa*â™¥,#Bipolar, #Sarcastica & Som...",...,2.0,3.0,663.0,2568.0,1,3252,14,0,149,0
4,FabrizioC_c,20218,413,405,162,8,0.0,0.0,0.0,"I shall rise from my own death, to avenge hers...",...,6.0,1.0,242.0,2959.0,1,3230,11,0,79,0

In [5]:
final_train.to_csv('train_data.csv',index=False)

In [6]:
final_test = pd.DataFrame()
final_test = final_test.append(social_bot3)
final_test = final_test.append(real_users[len(real_users)//2 + 1:len(real_users)])
final_test = final_test.fillna(0)
final_test.head()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,avg_tweet_activity(sec),max_profile_activity(sec),max_retweet_activity(sec),max_tweet_activity(sec),min_profile_activity(sec),min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot
0,16282004,eckates,11405,819,2000,0,19,1.0,0.0,0.0,...,7016.796452,519836.0,6977161.0,519836.0,0.0,70.0,0.0,7.0,3214.0,1
1,16740486,genebailey,520,219,406,36,2,0.0,0.0,0.0,...,279989.782609,10325599.0,10325599.0,58879548.0,0.0,7.0,0.0,236.0,369.0,1
2,17132768,patrickghoward,4671,38877,25953,6,228,0.0,0.0,0.0,...,32412.116547,5591470.0,12788741.0,5591470.0,50.0,62.0,70.0,15.0,3210.0,1
3,18013384,DoggieCakes,8512,2069,1177,70,43,0.0,0.0,0.0,...,12123.285853,68329.0,5442356.0,68329.0,0.0,21.0,0.0,140.0,3097.0,1
4,21331733,DavidVarrone,245,6656,7469,1,72,0.0,0.0,0.0,...,546269.181538,76416002.0,124547654.0,76416002.0,0.0,28.0,0.0,34.0,326.0,1

In [7]:
final_test['timestamp'] = pd.to_datetime(final_test['timestamp'])
days = []
for index,row in final_test.iterrows():
    diff = datetime.today() - row['timestamp']
    days.append(diff.days)
final_test['days_active'] = days
del final_test['timestamp']
lengths = []
digits = []
for index,row in final_test.iterrows():
    count = 0
    length = len(row['screen_name'])
    lengths.append(length)
    for character in row["screen_name"]:
        try:
            int(character)
            count += 1
        except:
            continue
    digits.append(count)
final_test['Screen_name_length'] = lengths
final_test['digits_in_name'] = digits
final_test

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,max_tweet_activity(sec),min_profile_activity(sec),min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot,days_active,Screen_name_length,digits_in_name
0,16282004,eckates,11405,819,2000,0,19,1.0,0.0,0.0,...,519836.0,0.0,70.0,0.0,7.0,3214.0,1,3556,7,0
1,16740486,genebailey,520,219,406,36,2,0.0,0.0,0.0,...,58879548.0,0.0,7.0,0.0,236.0,369.0,1,3525,10,0
2,17132768,patrickghoward,4671,38877,25953,6,228,0.0,0.0,0.0,...,5591470.0,50.0,62.0,70.0,15.0,3210.0,1,3506,14,0
3,18013384,DoggieCakes,8512,2069,1177,70,43,0.0,0.0,0.0,...,68329.0,0.0,21.0,0.0,140.0,3097.0,1,3469,11,0
4,21331733,DavidVarrone,245,6656,7469,1,72,0.0,0.0,0.0,...,76416002.0,0.0,28.0,0.0,34.0,326.0,1,3397,12,0
5,22316443,ShowYouSuccess,7778,506,1002,380,8,0.0,0.0,0.0,...,228859.0,0.0,6.0,0.0,38.0,3202.0,1,3388,14,0
6,23088369,mentalitchsite,18685,32089,18275,2,144,0.0,0.0,0.0,...,31899.0,2.0,5.0,2.0,8.0,3199.0,1,3382,14,0
7,26117307,LaurieMoonPR,5473,396,440,194,17,0.0,0.0,0.0,...,1058487.0,0.0,1.0,0.0,726.0,2493.0,1,3365,12,0
8,26743316,21stsoft,61183,33760,16759,5,75,0.0,0.0,0.0,...,197286.0,33.0,0.0,33.0,0.0,3232.0,1,3363,8,2
9,43133380,StratCommun,3910,1319,809,3,49,0.0,0.0,0.0,...,263683.0,0.0,0.0,0.0,553.0,2678.0,1,3299,11,0
10,75863742,ScreenwritingU,4361,94666,90861,207,1954,1.0,0.0,0.0,...,1798605.0,0.0,8.0,0.0,514.0,2696.0,1,3184,14,0
11,90421989,love5cs,4332,1715,1803,15,6,0.0,0.0,0.0,...,397788.0,0.0,2618.0,0.0,19.0,3216.0,1,3128,7,1
12,101882667,DUWomensCollege,2911,1232,2001,2,49,0.0,0.0,0.0,...,5089479.0,0.0,1.0,0.0,1198.0,1878.0,1,3078,15,0
13,129549447,Bidge1954,6904,561,598,0,17,0.0,0.0,0.0,...,1374361.0,4.0,24099735.0,4.0,2.0,3211.0,1,2988,9,4
14,133834939,On_The_Vines,84120,9777,9948,3,72,0.0,0.0,0.0,...,96909.0,0.0,0.0,44.0,2086.0,1127.0,1,2976,12,0
15,157882115,ipadiguide,12785,970,1799,1,7,0.0,0.0,0.0,...,435877.0,170.0,142820.0,170.0,6.0,3194.0,1,2911,10,0
16,157882740,ecommerceiguide,11390,876,1571,1,21,0.0,0.0,0.0,...,434819.0,170.0,5058995.0,170.0,2.0,3243.0,1,2911,15,0
17,157883888,petsiguide,8960,873,1301,0,4,0.0,0.0,0.0,...,436241.0,170.0,503986.0,170.0,5.0,3215.0,1,2911,10,0
18,157884271,tshirtiguide,12011,973,1465,0,6,0.0,0.0,0.0,...,436278.0,168.0,0.0,168.0,0.0,3216.0,1,2911,12,0
19,157884661,kayakiguide,11106,668,1287,1,2,0.0,0.0,0.0,...,436095.0,22.0,110808.0,22.0,4.0,3239.0,1,2911,11,0
20,157899229,cmsiguide,12852,955,1880,1,8,0.0,0.0,0.0,...,434683.0,170.0,1419288.0,170.0,2.0,3213.0,1,2911,9,0
21,157899996,iphoneiguide,11708,818,1542,1,5,0.0,0.0,0.0,...,435956.0,169.0,737806.0,169.0,3.0,3227.0,1,2911,12,0
22,159797667,BrazilNewsinUK,24264,179,87,0,5,0.0,0.0,0.0,...,129616.0,22.0,17985.0,22.0,9.0,3210.0,1,2906,14,0
23,161256906,frances_smith72,12478,1488,1902,1,13,0.0,0.0,0.0,...,149119.0,7.0,244129.0,7.0,8.0,3225.0,1,2902,15,2
24,161610564,daveauburn,12190,1168,1679,1,13,0.0,0.0,0.0,...,434297.0,170.0,124041.0,170.0,2.0,3230.0,1,2901,10,0
25,161611407,garyalexander71,13989,1515,1084,1,14,0.0,0.0,0.0,...,255351.0,61.0,172710.0,61.0,6.0,3209.0,1,2901,15,2
26,162035733,sunilaher78,12119,1172,1836,0,2,0.0,0.0,0.0,...,427086.0,35.0,485816.0,35.0,4.0,3229.0,1,2900,11,2
27,162167191,iguidenetwork,15924,1649,1475,1,9,0.0,0.0,0.0,...,150727.0,168.0,398356.0,168.0,6.0,3214.0,1,2899,13,0
28,162341083,yavoneebrown,12532,1675,1186,1,24,0.0,0.0,0.0,...,436501.0,171.0,84301.0,171.0,10.0,3206.0,1,2899,12,0
29,162390942,andyfrosworth,14451,1517,1613,1,16,0.0,0.0,0.0,...,435075.0,166.0,0.0,166.0,0.0,3215.0,1,2899,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,491630583,whatisasays,12413,960,513,1258,6,0.0,0.0,0.0,...,114534.0,0.0,0.0,5.0,1708.0,1508.0,0,2308,11,0
1054,1856665320,whysoseriousHmm,29,12,34,0,0,0.0,0.0,0.0,...,8090450.0,6.0,0.0,6.0,0.0,29.0,0,1732,15,0
1055,14443013,williambanzai7,72495,4745,2404,2868,220,0.0,0.0,0.0,...,145989.0,0.0,0.0,6.0,810.0,2386.0,0,3704,14,1
1056,523343938,winegalLynne,3243,1044,1036,268,54,0.0,0.0,0.0,...,780434.0,0.0,3.0,15.0,433.0,2806.0,0,2280,12,0
1057,2193114259,liamxpaynetrain,39039,1364,1015,7511,11,1.0,0.0,0.0,...,225887.0,0.0,0.0,3.0,2128.0,1092.0,0,1669,15,0
1058,187248137,wromany,48369,680,611,9745,5,0.0,0.0,0.0,...,64700.0,0.0,1.0,0.0,1272.0,1914.0,0,2834,7,0
1059,149038171,wsrgo,10549,146,519,1242,4,0.0,0.0,0.0,...,953551.0,2.0,3.0,7.0,1125.0,2083.0,0,2935,5,0
1060,211087053,exoloxios,1557,159,381,324,0,0.0,0.0,0.0,...,1769991.0,0.0,11.0,0.0,129.0,1418.0,0,2777,9,0
1061,224276630,wwalaurmani,71086,2910,158,16293,68,0.0,0.0,0.0,...,156431.0,0.0,1.0,0.0,608.0,2621.0,0,2741,11,0
1062,2273812328,KTHRYNBRND,25566,1295,88,3026,8,0.0,0.0,0.0,...,40824.0,0.0,1.0,0.0,336.0,2855.0,0,1619,10,0
1063,1682290266,wynnboy2,8902,447,197,1910,0,1.0,0.0,0.0,...,328283.0,0.0,1.0,4.0,1044.0,2121.0,0,1756,8,1
1064,167639858,xWordplay,751,76,85,162,0,0.0,0.0,0.0,...,29851775.0,4.0,5.0,4.0,115.0,631.0,0,2885,9,0
1065,1871454752,xenanimous,5340,1243,777,52,3,0.0,0.0,0.0,...,356863.0,0.0,0.0,0.0,449.0,2745.0,0,1728,10,0
1066,533547779,xo_clairelouise,3014,1284,878,2381,23,0.0,0.0,0.0,...,9342548.0,1.0,2.0,1.0,554.0,2443.0,0,2270,15,0
1067,2159707566,xomayaa__,9899,324,196,4208,2,0.0,0.0,0.0,...,376594.0,0.0,0.0,7.0,1904.0,1229.0,0,1686,9,0
1068,3873101,xpavlovx,106335,720,530,12004,65,0.0,0.0,0.0,...,63020.0,0.0,3.0,0.0,30.0,3183.0,0,4080,8,0
1069,577502014,yaboi_sandlot,13575,561,458,8413,1,0.0,0.0,0.0,...,260190.0,0.0,1.0,5.0,925.0,2250.0,0,2220,13,0
1070,161096641,yamineftis,12987,273,116,17132,1,1.0,0.0,0.0,...,44335.0,1.0,3.0,2.0,739.0,2469.0,0,2902,10,0
1071,20849470,yashrajbhalerao,11655,182,107,663,2,0.0,0.0,0.0,...,692304.0,0.0,2.0,0.0,458.0,2689.0,0,3403,15,0
1072,1965789655,yelsaah,2509,465,235,2493,0,0.0,0.0,0.0,...,6565619.0,0.0,2.0,4.0,508.0,1854.0,0,1697,7,0
1073,2326385024,yethHer,6804,931,1385,1773,2,1.0,0.0,0.0,...,1184845.0,0.0,0.0,10.0,2225.0,742.0,0,1587,7,0
1074,15084319,yifany,6365,75,142,618,5,0.0,0.0,0.0,...,670723.0,0.0,1.0,0.0,304.0,2897.0,0,3651,6,0
1075,1969038289,yoannehere,595,75,63,273,0,0.0,0.0,0.0,...,1078903.0,8.0,10.0,8.0,79.0,513.0,0,1696,10,0
1076,567591601,yoitsanal,4652,232,174,2218,0,0.0,0.0,0.0,...,2734188.0,0.0,1.0,0.0,1658.0,1328.0,0,2231,9,0
1077,1941490830,youreashithole,4857,258,308,3868,1,1.0,0.0,0.0,...,251915.0,1.0,1.0,4.0,1574.0,1603.0,0,1707,14,0
1078,578727389,FlavDFuego,22317,491,226,7338,6,0.0,0.0,0.0,...,268078.0,1.0,1.0,6.0,223.0,582.0,0,2219,10,0
1079,181191283,zacaj_,128929,437,304,607,27,0.0,0.0,0.0,...,58347.0,0.0,1.0,0.0,631.0,2573.0,0,2850,6,0
1080,612711615,zarryftstars,26443,3218,1943,10545,10,0.0,0.0,0.0,...,172233.0,0.0,0.0,5.0,2078.0,1139.0,0,2182,12,0
1081,599844379,fiveIads,62597,10273,98,39633,77,0.0,0.0,0.0,...,27860.0,0.0,0.0,0.0,1216.0,1923.0,0,2196,8,0
1082,205218909,zombiemaster999,315,94,597,36,4,0.0,0.0,0.0,...,9765105.0,2.0,3562.0,2.0,22.0,282.0,0,2790,15,3

In [8]:
bag_of_words_bot = r'bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                           r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                           r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                           r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'
lengths = []
words = []
for index,row in final_test.iterrows():
    if row["description"] != 0:
        length = len(row["description"])
        if bag_of_words_bot in row["description"]:
            words.append(1)
        else:
            words.append(0)
    else:
        length = 0
        words.append(0)
    lengths.append(length)
final_test["description_length"] = lengths
final_test["contains_words"] = words
final_test.tail()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,verified,...,min_retweet_activity(sec),min_tweet_activity(sec),total_retweets,total_tweets,Bot,days_active,Screen_name_length,digits_in_name,description_length,contains_words
1078,578727389,FlavDFuego,22317,491,226,7338,6,0.0,0.0,0.0,...,1.0,6.0,223.0,582.0,0,2219,10,0,47,0
1079,181191283,zacaj_,128929,437,304,607,27,0.0,0.0,0.0,...,1.0,0.0,631.0,2573.0,0,2850,6,0,110,0
1080,612711615,zarryftstars,26443,3218,1943,10545,10,0.0,0.0,0.0,...,0.0,5.0,2078.0,1139.0,0,2182,12,0,125,0
1081,599844379,fiveIads,62597,10273,98,39633,77,0.0,0.0,0.0,...,0.0,0.0,1216.0,1923.0,0,2196,8,0,20,0
1082,205218909,zombiemaster999,315,94,597,36,4,0.0,0.0,0.0,...,3562.0,2.0,22.0,282.0,0,2790,15,3,0,0